/*各个页面相同的样式表：头、尾部*/
/*版心*/
.wrapper {
    width: 1240px;
    margin: 0 auto;
}
/*快捷导航 shortcut*/
.shortcut {
    height: 52px;  
    background-color: #333; 
}
.shortcut .wrapper {
    height: 52px;
}
.shortcut .wrapper ul {
    float: right;  
}
.shortcut .wrapper li {
    float: left;  
    line-height: 52px;
}
.shortcut .wrapper a {
    color: #fff;  
    padding: 0 16px; 
    border-right: 1px solid #666;  
    font-size: 14px;  
}
.shortcut .wrapper li:last-child a {
    border-right: none;  
}
.shortcut .wrapper a span {
    display: inline-block;
    margin-right: 8px;  
    width: 11px;  
    height: 16px; 
    background-image: url(../images/精灵图.png);
    background-position: -160px -70px;
    vertical-align: middle;
}

/*头部 header*/
.header {
    margin: 30px auto;
    height: 70px;
}
/*logo区域*/
.logo {
    float: left;
    width: 207px;  /*布局logo区域的宽高*/
    height: 70px;
}
.logo h1 {
    width: 207px;
    height: 70px;
}
.logo h1 a {
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/LOGO.PNG);
    background-size: contain;
    font-size: 0; 
}
/*导航区域 nav*/
.nav {
    float: left;
    margin-left: 40px;
    height: 70px;
}
.nav h3 {
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
}
.nav li {
    float: left;
    margin-right: 48px;
    line-height: 70px;
}
.nav li a {
    padding-bottom: 7px;
}
.nav li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}
/*搜索区域 search*/
.search {
    position: relative;
    float: left;
    margin-top: 24px;
    margin-left: 34px;
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}
.search input {
    padding-left: 30px;
    width: 172px;
    height: 28px;
}
.search input::placeholder {
    font-size: 14px;
    color: #ccc;
}
.search span { 
    position: absolute;
    left: 2px;
    top: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/精灵图.png);
    background-position: -79px -69px;
}
/*购物车 cart*/
.cart {
    position: relative;
    float: left;
    margin-top: 28px;
    margin-left: 15px;
    width: 23px;
    height: 23px;
    background-image: url(../images/精灵图.png);
    background-position: -119px -69px;
}
.cart span {
    position: absolute;
    right: -13px;
    top: -6px;
    width: 20px;
    height: 15px;
    background-color: #e26237;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
/*banner区域*/
.banner {
    background-color: #f5f5f5;
}
.banner .wrapper {
    display: flex;
    position: relative;
}
/*侧导航栏 subnav*/
.subnav {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.6);
}
.subnav li {
    display: flex;
    height: 50px;
    padding: 14px 12px 14px 29px;
    position: relative;
}
.subnav a,
.subnav .iconfont {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}
.subnav a {
    margin-right: 5px;  /*字体间距*/
}
.subnav h4 {
    font-weight: 500;
    font-size: 16px;  /*h5字体的格式*/
    margin-right: 14px;
}
.subnav .iconfont {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}
.pic {
    width: 990px;
    height: 500px; 
    overflow: hidden;
    position: relative; /* 用于子元素定位 */
    margin: 0 auto;
}
/* 轮播图项样式 */
.pic li {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: none; 
}
.pic li:first-child {
    display: block;
}
/* 图片居中核心样式 */
.pic img {
    width: 100%; /* 宽度适配容器 */
    height: auto; /* 高度自适应 */
    max-height: 100%;
    position: absolute;
    top: 50%;/* 垂直居中 */
    left: 50%;/* 水平居中 */    
    transform: translate(-50%,-50%);
}/* 轮播图控制按钮样式 */
.banner ol {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner ol li {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 8px;
    margin-bottom: 16px;
    position: relative;
}
.banner i {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.active {
    background-color: rgba(255, 255, 255, 0.5);
}
.active i {
    background-color: rgb(255, 255, 255);
}
/*底部footer整体样式*/
.footer {
    height: 582px;
    background-color: #f5f5f5;
}

/*服务 service*/
.service {
    height: 179px;
    border-bottom: 1px solid #e8e8e8; /*调整间距*/
}
.service ul {
    display: flex;
    height: 179px;
    justify-content: space-evenly;
    align-items: center;
}
.service li {
    height: 58px;
    background: url(../images/sprite.png) no-repeat;
    padding-left: 78px;
}
.service li:nth-child(2) {
    background-position: 0 -58px;
}
.service li:nth-child(3) {
    background-position: 0 -116px;
}
.service li:nth-child(4) {
    background-position: 0 -174px;
}
.service h5 {  /*调整字体大小*/
    line-height: 58px;
    font-size: 28px;
}

/*帮助中心 help*/
.help {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    height: 302px;
}
.help dt {  /*调整间距*/
    margin-bottom: 20px;
    font-size: 18px;
}
.help dd a {
    line-height: 32px;
    color: #969696;
}
.help dd .iconfont {
    color: #5EB69C;
}
.help .right ul {
    display: flex;
    justify-content: space-between;
    width: 295px;
}
.help .right img {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
}
.help .right p {
    text-align: center;
    color: #969696;
}
.copyright {
    text-align: center;
}
.copyright p,
.copyright p a {
    color: #A1A1A1;
}
.copyright p {
    margin-bottom: 10px;
}
/*版权区域 copyright*/
.copyright {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #eee;
}